<div class="container">
  <div class="row">

    <h1>Dojo Forum 前台</h1>

    <ul>
      <% @articles.each do |article| %>
        <% if article.status == "publish" %>
          <li>
            <%= article.title %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <%= paginate @articles %>

    <%= link_to 'New Article', new_article_path %>

  </div>
</div>