<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>Dojo Forum</h1>

      <br>

      <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to "All", root_path %></li>
        <% @categories.each do |category| %>
          <li role="presentation">
            <%= link_to category.name, category_path(category) %>
          </li>
        <% end %>
      </ul>

      <br>
      <br>

      <%= render partial: "shared/article_list", locals: {articles: @articles} %>

    </div>
  </div>
</div>