.nav-pills > li {
  float: none;
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  line-height: 8px;
}

.collect-button {
  float: right;
}

.pending-friends {
  padding: 10px 10px;
  margin-bottom: 10px;
}

.inverse-pending-friends {
  padding: 10px 10px;
  margin-bottom: 10px;
}

.all-friends {
  padding: 10px 10px;
  margin-bottom: 60px;
}

.index-table .btn:hover {
  outline: none;
}

.index-table .btn {
  outline: none;
}

.index-table .table-title {
  padding: 15px 10px;
}

.user-count {
  padding: 20px 30px;
}

.user-count h3 {
  text-align: center;
}

.user-count h4 {
  text-align: center;
  border: 1px solid #666666;
  padding: 10px;
}

.post-count {
  padding: 20px 30px;
}

.post-count h3 {
  text-align: center;
}

.post-count h4 {
  text-align: center;
  border: 1px solid #666666;
  padding: 10px;
}

.comment-count {
  padding: 20px 30px;
}

.comment-count h3 {
  text-align: center;
}

.comment-count h4 {
  text-align: center;
  border: 1px solid #666666;
  padding: 10px;
}

.chatterbox h2 {
  text-align: center;
}

.chatterbox h4 {
  text-align: center;
}

.popular {
  margin-left: 100px;
}