.nav-pills > li {
  float: none;
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  line-height: 8px;
}

.collect-button {
  float: right;
}

.pending-friends {
  padding: 10px 10px;
  margin-bottom: 10px;
}

.inverse-pending-friends {
  padding: 10px 10px;
  margin-bottom: 10px;
}

.all-friends {
  padding: 10px 10px;
  margin-bottom: 60px;
}